@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.link {
    text-decoration: none;
}

:root {
    scroll-behavior: smooth;
}

/*Header de la red social*/
.header {
    background-color: #2f3ff1d5;
    width: 100%;
    height: 70px;

}

/*Nav de la red social*/
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    color: #fff;
    margin: auto;
    padding: 15px;
}

.nav-buttons ul {
    display: flex;
    justify-content: center;
    align-items: center;

}

.nav-buttons ul li {
    list-style: none;
    color: #fff;
    margin-left: 10px;

}

.nav-logo {
    display: block;
    align-items: center;

}

.logo {
    text-decoration: none;
    font-size: 30px;
    color: #fff;
    font-weight: bold;
}

.nav-usuario {
    display: flex;
}

.nav-usuario-nombre {
    font-size: 18px;
}

.nav-bar {
    font-size: 25px;
    cursor: pointer;
}

.nav-menu {
    width: 300px;
    max-width: 70%;
    background-color: #000000a9;
    position: absolute;
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    right: 1px;
    top: 90%;
    color: #fff;
    transition: all 1s ease-in-out;
}

.nav-menu-item {
    width: 90%;

}

.show {
    clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
}

/* .show::before{
    content: "";
    background-color: #eceaeac0;
    width: 30px;
    height: 30px;
    position: absolute;
    top: -10px;
    right: 0;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
} */
.nav-menu ul li {
    list-style: none;
}

.nav-logo-usuario {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    border-bottom: 1px solid rgba(132, 133, 132, 0.452);
    padding: 5px;
    width: 90%;
}

.nav-nombre {
    font-size: 16px;
    margin-left: 10px;
}

.nav-nombre-Usuario {
    margin-left: 10px;
    font-size: 14px;
}

.nav-imagen-usuario {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 20px;

}

.nav-menu-items {
    display: block;
    text-align: center;
    margin: auto;
}

.nav-items {
    font-size: 14px;
    position: relative;
    display: inline-block;
    text-decoration: none;
    margin: 8px;
    color: #fff;

}

.nav-items i {
    font-size: 14px;
    margin-right: 5px;
}

.nav-items::before {
    content: "";
    height: 2px;
    width: 100%;
    left: 0;
    bottom: 0;
    position: absolute;
    background-color: #ffff;
    border-radius: 4px;
    transform-origin: right;
    transition: scale 0.25s;
    scale: 0;

}

.nav-items:hover::before {
    scale: 1;
    transform-origin: left;

}

.nav-footer {
    display: flex;
    justify-self: center;
    align-items: center;
    margin: auto;
    border-top: 1px solid rgba(132, 133, 132, 0.452);
    width: 90%;

}

.nav-footer ul li {
    list-style: none;
}

.nav-footer-items {
    margin: auto;
}

.nav-usuario-nombre {
    margin-right: 10px;
}


/*contenido-Principal*/
.contenido-Principal {
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 50px 0;
}


/*Registrarse*/
.Registrarse {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 90%;
}

.Registrarse-container {
    width: 90%;
    max-width: 600px;
    height: auto;
    position: relative;
}

.Cabeza {
    width: 100%;
    background-color: #0D1FEA;
    height: 250px;
    border-radius: 0 0 50px 50px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Cabeza h2 {
    font-size: 25px;
    color: #fff;
    font-weight: 900;
}

.Registrarse-title {
    text-align: center;
    color: #0d20eac2;
    margin: 10px 0;
    font-size: 45px;
    font-weight: 900;
}

.Registrarse-title span {
    text-align: center;
    color: #c428f3b4;
    margin: 10px 0;
    font-size: 45px;
}


.Registrarse-form {
    display: block;
    background-color: #fff;
    margin: auto;
    width: 90%;
    height: auto;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
    padding: 10px;
    border-radius: 10px;

}

.form-title {
    text-align: center;
    color: #0d20eac2;
    margin: 10px 0;
    font-size: 30px;
    font-weight: 900;
}

.Registrarse-text {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.form-input {
    position: relative;
    width: 90%;
    display: block;
    border: 0.2rem solid rgba(212, 212, 212, 0.582);
    border-radius: 0.5rem;
    font-size: 16px;
    padding: 8px 12px;
    outline: none;
    box-shadow: 0 1rem 1rem -5px rgba(0, 0, 0, 0.10);
    line-height: 1rem;
    background-color: transparent;
    margin: 15px auto;
}

.form-input:focus {
    border: 0.2rem solid #0d20eac2;
}

.form-label {
    position: absolute;
    top: 1.6rem;
    left: 2.5rem;
    color: rgba(124, 124, 124, 0.795);
    transition: all 300ms ease-in-out;
    pointer-events: none;
    font-size: 1rem;

}

.form-input:focus~label,
.form-input:not(:placeholder-shown)~label {
    top: -0.7rem;
    left: 1.5rem;
    z-index: 1;
    font-size: 1rem;
    font-weight: 400;
    color: #0d20eab4;

}

.form-btn {
    position: relative;
    display: block;
    width: 90%;
    border: none;
    padding: 8px 11px;
    color: white;
    background-color: #0d20eae1;
    font-size: 18px;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    transition: all 3ms ease-in-out;
    margin: 10px 0;

}

.form-btn:hover {
    background-color: #0514b9b7;
}

.form-input::-webkit-input-placeholder {
    color: transparent;
}

.form-input::-moz-input-placeholder {
    color: transparent;
}

.cuenta {
    position: static;
    width: 100%;
    bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-bottom: 10px;
}

.cuenta-login {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-top: 50px;
}

.cuenta p,
.cuenta-login p {
    color: #0D1FEA;
    font-size: 18px;
    font-weight: 700;
}

.btn-ir {
    color: #0b0f3bde;
    font-size: 18px;
    text-decoration: none;
    transition: all 3ms ease-out;
}

.btn-ir:hover {
    color: #0d1be4c4;
    text-decoration: none;

}

/*Perfil del usuario*/
.perfil {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    padding: 20px;
    gap: 10px;
    width: 50%;
    border: 1px solid rgba(132, 133, 132, 0.452);
    border-radius: 10px;
}

.perfil-usuario {
    width: 90%;
}

.contenedor-perfil {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    gap: 10px;
    width: 80%;
}

.imagen-usuario {
    width: 100px;
    overflow: hidden;
    object-fit: cover;
    border-radius: 50%;
}

.perfil-nombre {
    color: #000000bb;
    font-size: 20px;
    font-weight: 400;
}

.perfil-nombre-usuario {
    color: #525355e8;
    font-size: 16px;
    font-weight: 400;
}

.perfil-seguidos {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 15px;
    border-top: 1px solid rgba(132, 133, 132, 0.452);
    width: 90%;
    padding: 10px;
}

/**/

.perfil-seguido h2,
.perfil-seguidores h2,
.perfil-publicaciones h2 {
    color: #03030388;
    font-size: 16px;
    font-weight: 500;

}

.perfil-seguido p,
.perfil-seguidores p,
.perfil-publicaciones p {
    color: #0c4b9ec0;
    font-size: 14px;
    font-weight: 900;

}

.link-perfil {
    text-decoration: none;

}

/*publicaion perfil*/
.publicacion {
    width: 50%;
    margin: 20px auto;
    border: 1px solid rgba(132, 133, 132, 0.452);
    border-radius: 10px;
}

.form-publicacion {
    max-width: 600px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px auto;
    gap: 10px;


}

.publicacion-titulo {
    color: #0D1FEA;
    font-size: 20px;
    margin: 10px 0;
}

.publicacion-decs {
    width: 90%;
    margin: 10px 0;
    font-size: 16px;
}

.buttons-publicacion {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.button-pub {
    display: block;
    margin: auto;
    width: 180px;
    padding: 10px 12px;
    border: none;
    background-color: #0d20ead5;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    transition: .6s all ease-in-out;
}

.button-pub:hover {
    background-color: #061291f6;

}

.image-publicacion {
    width: 90%;
    padding: 2px;
}

/*Pagina de error*/
.Error {
    width: 80%;
    max-width: 900px;
    padding: 40px 0;
    margin: auto;
    overflow: hidden;
}

.error-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
    width: 60%;
    height: 200px;
    border-radius: 10px;
}

.error-titulo {
    text-align: center;
    color: #070c53d8;
    font-weight: bold;
    letter-spacing: .3rem;
}

.error-parrafo {
    text-align: center;
    font-size: 20px;
    color: #494b5fbd;
}

/*Editar*/
.editar {
    width: 90%;
    max-width: 900px;
    margin: auto;
    padding: 30px 0;
}

.editar-titulo {
    color: #0d20ead5;
    font-weight: 500;
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
}

.editar-container {
    max-width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.form {
    background: #fff;
    margin: auto;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
    padding: 10px;
    border-radius: 10px;
    width: 100%;
}

.Cotent-text {
    margin: 10px auto;

}

.cotent-imagen {
    padding: 10px;
    margin: auto;
}

.form-items {
    width: 90%;
    display: block;
    justify-content: center;
    align-items: center;
    margin: 12px auto;
    padding: 10px 15px;
    border: none;
    border-bottom: 1px solid #0d20ea79;
    font-size: 16px;
    outline: none;
}

.form-item-btn {
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 90%;
    border: none;
    border-radius: 20px;
    background-color: #0D1FEA;
    padding: 8px 10px;
    font-size: 14px;
    color: #fff;
    font-weight: 700;
    margin-top: 10px;
}

/*usuarios*/
.usuarios {
    width: 90%;
    padding: 20px;
    margin: auto;

}

.usuarios-titulo {
    color: #192beee1;
    font-size: 25px;

}

.usuarios-container {
    max-width: 550px;
    margin: auto;
    margin-top: 70px;
}

.usuario-container--informacion {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;

}

.usuarios-imagen {
    width: auto;
    border-radius: 50%;
}

.usuario-imagen {
    width: 100px;
    height: 100px;
    overflow: hidden;
    object-fit: cover;

}

.usuarios-informacion {
    width: auto;
    display: flex;
    flex-flow: column wrap;
    margin: auto;
    text-align: center;
}

.usuario-nombre {
    font-size: 16px;
    color: #0d20eab4;
    font-weight: 700;
}

.usuario-user {
    color: #767786cc;
    font-size: 16px;
    font-weight: 500;

}

.usuario-bio {
    color: #000000a8;
    font-size: 18px;
    font-weight: 500;
    margin-top: 10px;


}

/* .button-seguir{
    text-decoration: none;
    display: block;
    width: 70px;
    padding: 8px 12px;
    background-color: #14da14;
    text-align: center;
    color: #fff;
    font-size: 14px;
    border-radius: 10px;
    cursor: pointer;
} */
.buttons-paginas {
    width: 100%;
    margin: 30px auto;
    display: flex;
    justify-content: center;
}

.button-siguiente {
    text-decoration: none;
    display: block;
    width: 200px;
    padding: 10px 15px;
    background-color: #0b2dc5e1;
    text-align: center;
    color: #fff;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;

}


.btn-seguir {
    display: block;
    width: 120px;
    margin: auto;
    margin-top: 15px;
    font-size: 16px;
    background-color: #2f3ff1d5;
    color: #fff;
    border: none;
    transition: all 1ms ease;
    border-radius: 5px;
    text-align: center;
    padding: 8px 12px;
}

.btn-seguir:hover {
    background-color: rgba(10, 141, 5, 0.644);
    color: #fff;
}

.btn-siguiendo {
    background-color: rgb(24, 140, 235);
    color: #fff;
    display: block;
    width: 140px;
    margin: auto;
    margin-top: 15px;
    font-size: 14px;
    border: none;
    transition: all 1ms ease;
    border-radius: 5px;
    text-align: center;
    padding: 8px 12px;
}

.btn-siguiendo:hover {
    background-color: rgba(230, 15, 15, 0.658);
    color: #fff;

}

/*Esttilos de perfiles de usuarios*/

.perfil-usuarios {
    width: 90%;
    max-width: 900px;
    overflow: hidden;
    padding: 30px;
    margin: auto;
}

.perfil-usuarios-container {
    max-width: 500px;
    margin: auto;
    border: 1px solid rgba(132, 133, 132, 0.452);
    padding: 20px;
    border-radius: 10px;
}

.contenedor-perfil-usuarios {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: auto;

}

.perfil-bio {
    font-size: 14px;
    color: #000000d8;
}

.perfil-usuarios-datos {
    display: flex;
}

.perfil-usuarios-btns {
    margin-left: 15px;
    float: left;
}

.perfil-usuarios-btn {
    width: 100px;
    margin: 10px;
    border: none;
    padding: 8px 10px;
    cursor: pointer;
    font-size: 15px;
    background-color: #0D1FEA;
    color: #fff;
    border-radius: 5px;
    transition: 1ms ease-in-out all;
}

.perfil-usuarios-btn:hover {
    background-color: #06107e;
}

.perfil-usuarios-info {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    margin: 15px auto;
    text-align: center;
    border-top: 1px solid rgba(132, 133, 132, 0.452);
    gap: 20px;
}

.perfil-linea {
    width: 90%;
    border-top: 1px solid rgba(132, 133, 132, 0.452);
    margin: 30px auto;
}

/*publicaciones de perfiles*/

.perfil-usuarios-publicaciones {
    width: 90%;
    max-width: 900px;
    overflow: hidden;
    padding: 10px;
    margin: auto;
}

.publicaciones {
    max-width: 500px;
    margin: 10px auto;
    border: 1px solid rgba(132, 133, 132, 0.452);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.publicaciones-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin: auto;
}

@media screen and (max-width: 630px) {
    .publicaciones-container {
        flex-direction: column;
    }

    .publicaciones-titulo-usuario {
        text-align: center;
    }

    .publicaciones-imagen-usuario {
        margin: auto;
        display: block;
    }

    .form-input {
        position: relative;
        width: 100%;
        padding: 8px 12px;
    }

    .form-label {
        top: 1.6rem;
        left: 0.8rem;
        font-size: 14px;

    }
    .form-input:focus~label,
.form-input:not(:placeholder-shown)~label {
    left: 1rem;
    z-index: 1;
    font-size: 0.8rem;
}
}

.publicaciones-titulo {
    text-align: center;
    font-size: 20px;
    margin-bottom: 16px;
}

.publicaciones-imagen-usuario {
    clip-path: circle(40.6% at 50% 50%);
    max-width: 90px;
    margin: auto;
    display: block;
}

.publicacion-imagen-usuario {
    display: block;
    object-fit: cover;
    width: 100%;
}

.publicaciones-usuarios-info {
    max-width: 290px;
    margin: auto;
    text-align: center;
}

.publicaciones-titulo-usuario {
    color: #18181ac2;
    font-size: 16px;
}

.publicaciones-bio {
    width: 100%;
    border-top: 1px solid rgba(132, 133, 132, 0.24);
}

.publicacion-bio {
    color: #0f0f0fb7;
    font-size: 14px;
}

.separador {
    color: #7c7c8027;
    font-size: 20px;
}

.pub-fecha {
    color: #6e6e75d0;
    font-size: 12px;
    margin-left: 2px;
}

.pub-eliminar {
    width: 50px;
    margin: auto;

}

.pub-eliminar img {
    display: block;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    width: 25px;
    cursor: pointer;
    transition: all 1ms ease-out;

}

.pub-eliminar img:hover {
    width: 26px;

}

.publicacion-imagen {
    display: block;
    margin: auto;
    max-width: 260px;

}

.imagen-publicacion {
    width: 100%;
    object-fit: cover;
}



/*Estilos para barra */
.loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 9999;
    transition: 1s all;
    opacity: 0;
}

.loading.show {
    opacity: 1;
}

.loading .spin {
    border: 3px solid hsla(185, 100%, 62%, 0.219);
    border-top-color: #3cefff;
    border-radius: 50%;
    width: 5em;
    height: 5em;
    animation: spin 1s linear infinite;
}


.SpinTitle {
    font-size: 28px;
    color: #2f3ff1b2;
    font-weight: 500;

}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}