@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    overflow: hidden;
}
/*Header de la red social*/
.header{
    background-color: #2f3ff1d5;
    width: 100%;
    height: 70px;

}

/*Nav de la red social*/
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    color: #fff;
    margin: auto;
    padding: 15px;
}

.nav-logo{
    display: block;
    align-items: center;
  
}
.logo{
    text-decoration: none;
    font-size: 30px;
    color: #fff;
    font-weight: bold;
}
.nav-usuario{
    display: flex;
}
.nav-usuario-nombre{
    font-size: 18px;
}
.nav-bar{
    font-size: 25px;
}
.nav-menu{
    position: absolute;
    width: 20%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
    background-color: #000000ab;
    right: -500px;
    top: 90%;
    color: #fff;
    overflow: hidden;
    transition: all 2s ease;
}
.show{
    position: absolute;
    width: 290px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
    background-color: #000000ab;
    right: 1px;
    top: 90%;
    color: #fff;
    overflow: hidden;
    transition: all 2s ease;
}
/* .show::before{
    content: "";
    background-color: #eceaeac0;
    width: 30px;
    height: 30px;
    position: absolute;
    top: -10px;
    right: 0;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
} */
.nav-menu-item{
    width: 100%;
}
.nav-menu ul li{
    list-style: none;
}
.nav-logo-usuario{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    border-bottom: 1px solid rgba(132, 133, 132, 0.452);
    padding: 5px;
    width:90%;
}
.nav-nombre{
    font-size: 16px;
    margin-left: 10px;
}
.nav-nombre-Usuario{
    margin-left: 10px;
    font-size: 14px;
}
.nav-imagen-usuario{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 20px;
    
}
.nav-menu-items{
    display: block;
    text-align: center;
    margin: auto;
}
.nav-items{
    font-size: 16px;
    position: relative;
    display: inline-block;
    text-decoration: none;
    margin: 10px ;
    color: #fff;
    
}
.nav-items i {
    font-size: 16px;
    margin-right: 5px;
}
.nav-items::before{
    content: "";
    height: 2px;
    width: 100%;
    left: 0;
    bottom: 0;
    position: absolute;
    background-color: #ffff;
    border-radius: 4px;
    transform-origin: right;
    transition: scale 0.25s;
    scale: 0;

}
.nav-items:hover::before{
    scale: 1;
    transform-origin: left;

}

.nav-footer{
    display: flex;
    justify-self: center;
    align-items: center;
    margin: auto;
    border-top: 1px solid rgba(132, 133, 132, 0.452);
    width:90%;
    
}
.nav-footer ul li{
    list-style: none;
}
.nav-footer-items{
    margin: auto;
}
.nav-usuario-nombre{
    margin-right:10px ;
}
/*contenido-Principal*/
.contenido-Principal{
    width: 90%;
    max-width: 1200px;
    padding: 15px;
    margin: 20px auto;
}


/*Registrarse*/
.Registrarse{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 70%;
}
.Registrarse-container{
    width: 40%;
    height: 600px;
   box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
   position: relative;
}
.Cabeza{
    width: 100%;
    background-color: #0D1FEA;
    height: 250px;
    border-radius: 0 0 50px 50px;
    margin-bottom:5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Cabeza h2{
    font-size: 25px;
    color: #fff;
    font-weight: 900;
}
.Registrarse-title{
    text-align: center;
    color: #0D1FEA;
    margin: 10px 0;
}

.Registrarse-form{
    background-color: #fff;
    position: absolute;
    margin: auto;
    top: 160px;
    right: 5%;
    width:90%;
    height: auto;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
    padding: 10px;
    border-radius: 10px;

}

.Registrarse-form input[type="text"],
input[type="password"]{
     width: 90%;
     display: block;
     justify-content: center;
     align-items: center;
     margin:12px  auto;
     padding: 8px 10px;
     border: none;
     border-bottom: 1px solid #0d20ea79;
     font-size: 14px;
     outline: none;

}
.Registrarse-form input[type="submit"]{
    display: block;
    justify-content: center;
     align-items: center;
     margin: auto;
    width: 90%;
    border: none;
    border-radius: 20px;
    background-color: #0D1FEA;
    padding: 8px 10px;
    font-size: 14px;
    color: #fff;
    font-weight: 700;
}
.cuenta{
    position: absolute;
    bottom: 0;
    right:29%;
    display: inline-block;
    text-align: center;
    margin: auto;
    text-align: center;
    flex-direction: column;
    margin-bottom: 10px;
}
.cuenta-login{
    position: absolute;
    bottom: 100px;
    left:23%;
    display: inline-block;
    text-align: center;
    margin: auto;
    text-align: center;
    flex-direction: column;
    margin-bottom: 10px;
}
.cuenta p, .cuenta-login p{
    color: #0D1FEA;
    font-size: 14px;
    font-weight: 700;
}

.btn-ir{
    color: #0b0f3bde;
    font-size: 14px;
    text-decoration: none;
}
.btn-ir:hover{
    color: #030955;
    font-size: 14px;
    text-decoration: none;
    
}

/*Perfil del usuario*/
.perfil{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto; 
    padding: 20px;
    gap: 10px;
    width: 40%;
    border: 1px solid rgba(132, 133, 132, 0.452);
    border-radius: 10px;
}
.perfil-usuario{
    width: 90%;
}
.contenedor-perfil{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
   margin: auto;
   gap: 10px;
   width: 60%;
}
.imagen-usuario{
    width: 100px;
    overflow: hidden;
    object-fit: cover;
    border-radius: 50%;
}
.perfil-nombre{
    color: #000000bb;
    font-size: 20px;
    font-weight: 400;
}
.perfil-nombre-usuario{
    color: #525355e8;
    font-size: 16px;
    font-weight: 400;
}

.perfil-seguidos{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 15px;
    border-top: 1px solid rgba(132, 133, 132, 0.452);
    width: 90%;
    padding: 10px;
}
/**/

.perfil-seguido h2, .perfil-seguidores h2, .perfil-publicaciones h2{
    color: #03030388;
    font-size: 16px;
    font-weight: 500;
     
}
.perfil-seguido p, .perfil-seguidores p, .perfil-publicaciones p{
    color: #0c4b9ec0;
    font-size: 14px;
    font-weight: 900;

  
     
}